:root {
  --glow-rgb: 245 245 245;
  --light: 0 0 0;
  --dark: 21 21 21;
  --green: rgba(0, 37, 92, 0.712);
  --blue: rgb(180, 51, 255);
}

  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202020;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to up, rgb(201, 6, 64), mediumpurple);;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("Assets/pattern.png");
  background-size: 10%;
  height: 100vh;
  width: 100vw;
  overflow: visible;
  opacity: 0.9;
  animation: pan 180s linear infinite;
  will-change: background-position;
  margin: 0;
  padding: 0;
}

#main-content {
  position: relative;
  z-index: 1;
  min-height: 100vh;
}

.code-font {
  font-family: "Source Code Pro", monospace;
}

#navheader {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  color: white;
  position: relative;
  z-index: 2;
}

#contacts img {
  margin: 5px;
  width: 30px;
  height: 30px;
}

#navheader{
  padding: 0;
}

#navheader h1 {
  font-family: "Source Code Pro", monospace;
  font-size: clamp(2rem, 5vw, 2.5rem);
  color: white;
  max-width: 460px;
  padding: auto;
  margin: auto;
  white-space: nowrap;
  position: relative;
}

#clg, #clc, #cls {
  font-family: "Source Code Pro", monospace;
  font-size: clamp(1.5rem, 5vw, 1.5rem);
  margin: auto;
  color: rgb(168, 168, 168);
  white-space: nowrap;
  position: relative;
}

#star-container {
  background: radial-gradient(rgb(var(--light)), rgb(var(--dark)));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

#star-gradient-overlay {
  background: radial-gradient(circle, transparent 75%, rgb(var(--dark)));
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.9;
  z-index: -100;
}

#blob {
  background-color: white;
  height: 50vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, rgb(201, 6, 64), mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
  filter: blur(200px);
  z-index: 1;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(12vmax);
}

.text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  z-index: 100;
}

.line1 {
  font-size: clamp(3rem, 4vw, 2rem);
  max-width: 460px;
  font-weight: bold;
  z-index: 100;
}

#pfp {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3rem 2rem auto;
}

#profile-pic {
  max-width: 460px;
  height: auto;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem 0;
  z-index: 100;
}

.contacts img {
  margin: 0 0.5rem 0 0.5rem;
  width: 30px;
  height: auto;
}

#twitter {
  width: 25px;
  height: auto;
}

#bio {
  display: grid;
  width: 90%;
  max-width: 650px;
  color: white;
  font-family: "Source Code Pro", monospace;
  transition: opacity 250ms ease;
  text-align: left;
  font-size: 0.9rem;
  margin: 0 auto 0 auto; 
}

.word {
  color: white;
  text-align: center;
  font-family: "Source Code Pro", monospace;
  margin: 0;
  transition: opacity 250ms ease;
}

.terminals {
  padding: 5px;
  border: 1px solid white;
  background: linear-gradient(
    to right,
    rgba(201, 6, 65, 0.411),
    rgba(147, 112, 216, 0.527)
  );
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.termtext, .Ptermtext {
  padding: 5px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  z-index: 100;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  z-index: 100;
}

.fancy span {
  display: inline-block;
}

.fancy > .outer {
  transition: transform 350ms ease;
}

.fancy:hover > .outer {
  transition-duration: 800ms;
}

.fancy:hover > .outer > .inner {
  animation: float 5s ease infinite;
}

.fancy:hover > .outer > .inner > .letter {
  background: linear-gradient(to right, var(--blue), var(--green), var(--blue));
  background-size: 1000%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: background-pan 150s linear infinite;
}

@keyframes pan {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 0%; }
}

@keyframes rotate {
  from { rotate: 0deg; }
  50% { scale: 1 1.5; }
  to { rotate: 360deg; }
}

@keyframes float {
  from, to { transform: translateY(-0%); }
  50% { transform: translateY(-3%); }
}

@keyframes background-pan {
  from { background-position: 1000% center; }
  to { background-position: 0% center; }
}

a {
  text-decoration: none;
}

@media (max-width: 768px){
  

  #profile-pic {
    max-width: 300px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }

  #navheader h1 {
    font-size: 2.5rem;
  }

  #bio {
    font-size: 1rem;
    margin: 0 auto 0 auto;
  }

  .termtext, .Ptermtext {
    font-size: 1rem;
  }

  #star-pattern {
    background-size: 10%;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  #star-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  #pfp {
    width: 40%;
    margin-bottom: 0;
  }

  #bio {
    width: 50%;
  }
}