:root {
  --glow-rgb: 245 245 245;
  --light: 0 0 0;
  --dark: 21 21 21;
  --green: rgba(0, 37, 92, 0.712);
  --blue: rgb(180, 51, 255);
}

/* global */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: black;
  overflow: hidden;
}

/* typography */

.code-font {
  font-family: "Source Code Pro", monospace;
}

#navheader {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  color: white;
  position: relative;
  z-index: 100;
}

#contacts img {
  margin: 5px;
  width: 50px;
  height: 50px;
}

#navheader h1 {
  display: flex;
  font-family: "Source Code Pro", monospace;
  font-size: clamp(2.5rem, 5vw, 2rem);
  color: white;
  white-space: nowrap;
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
}

#clg,
#clc,
#cls {
  display: flex;
  font-family: "Source Code Pro", monospace;
  font-size: clamp(1.5rem, 3vw, 1rem);
  color: rgb(168, 168, 168);
  white-space: nowrap;
  position: relative;
  left: 0;
  z-index: 3;
}

#clg {
  top: 6%;
}
#clc {
  top: 9%;
}
#cls {
  top: 12%;
}

/* star container */
#star-container {
  background: radial-gradient(rgb(var(--light)), rgb(var(--dark)));
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
}

@media (max-width: 1440px) {
  #star-gradient-overlay {
   width: 200vw;
   height: auto;
  }
  #line1{
    font-size: 2rem;
  }
  #bio {
    margin-left: 0;
    width: 80vw;
  }
  #pfp img {
    width: 75%;
    height: auto;
  }
  #navheader h1{
    font-size: 2rem;
  }
}

#star-pattern {
  background-image: url("Assets/pattern.png");
  background-size: 10%;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0%;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  min-width: 1200px;
  opacity: 0.1;
  animation: pan 180s linear infinite;
  will-change: background-position;
}

@media (max-width: 1440px) {
  #star-pattern {
    background-size: 20%;
    height: 100vh;
  }
}

#star-gradient-overlay {
  background: radial-gradient(circle, transparent 75%, rgb(var(--dark)));
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  opacity: 0.9;
  z-index: -100;
}

/*blob*/
#blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, rgb(201, 6, 64), mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
  filter: blur(200px);
  z-index: 1;
}

@media (max-width: 1024px) {
  #blob {
    height: 0;
    width: 0;
  }
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(12vmax);
}

/* text */
.text {
  position: relative;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
}

.Maintext {
  z-index: 20;
}

.line1 {
  display: flex;
  justify-content: space-between;
  position: relative;
  font-size: 4vw;
  margin: auto;
  font-weight: bold;
  z-index: 5;
}

#pfp {
  width: auto;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  z-index: 100;
}

.contacts img {
  margin: 5px;
  width: 30px;
  height: auto;
}

#twitter {
  width: 25px;
  height: auto;
}

#bio {
  display: grid;
  padding: 0;
  margin: 0;
  width: 40vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Source Code Pro", monospace;
  transition: opacity 250ms ease;
  text-align: left;
  font-size: auto;
  margin: 0rem;
}

@media (max-width: 1560px) and (min-width: 1440px) {
  #bio {
    margin-left: 50px;
  }
}

.word {
  color: white;
  text-align: center;
  font-family: "Source Code Pro", monospace;
  margin: 0rem;
  transition: opacity 250ms ease;
}

.terminals {
  padding: 5px;
  border: 1px solid white;
  background: linear-gradient(
    to right,
    rgba(201, 6, 65, 0.411),
    rgba(147, 112, 216, 0.527)
  );
  display: flex;
  flex-direction: column;
  z-index: 100;
}
.termtext {
  padding: 5px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
}

.Ptermtext {
  padding: 5px;
  border: 1px solid white;
  z-index: 100;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px; /* Adjust the gap as needed */
  z-index: 100;
  
}

/* fancy text */
.fancy span {
  display: inline-block;
}

.fancy > .outer {
  transition: transform 350ms ease;
}

.fancy:hover > .outer {
  transition-duration: 800ms;
}

.fancy:hover > .outer > .inner {
  animation: float 5s ease infinite;
}

.fancy:hover > .outer > .inner > .letter {
  background: linear-gradient(to right, var(--blue), var(--green), var(--blue));
  background-size: 1000%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: background-pan 150s linear infinite;
}

.fancy:hover > .outer {
  transition: transform 0.3s ease;
}
/* animations */
@keyframes pan {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  50% {
    scale: 1 1.5;
  }
  to {
    rotate: 360deg;
  }
}

@keyframes float {
  from,
  to {
    transform: translateY(-0%);
  }
  50% {
    transform: translateY(-3%);
  }
}

@keyframes background-pan {
  from {
    background-position: 1000% center;
  }
  to {
    background-position: 0% center;
  }
}

/* misc */
a {
  text-decoration: none;
}

span {
  position: relative;
}
